includes:
    - vendor/tomasvotruba/bladestan/config/extension.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 9

    paths:
        - config
        - database
        - routes
        - src
        - tests
        - resources/views

    excludePaths:
        - 'tests/logs/*'
        - 'output/*'

    treatPhpDocTypesAsCertain: false

    checkGenericClassInNonGenericObjectType: false
